<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
        <div class="row">
                <div class="col-md-6">Gestionnaire de bibliothèque.<span class="small"><br><a href="https://image.winudf.com/v2/image/Y29tLnR1dG96ei5yaWVuX3NjcmVlbl8xXzE1MzA2NTIwMzVfMDA4/screen-1.jpg?h=355&fakeurl=1&type=.webp" target="_blank">il n'y a rien a voir sur ce lien🙂.</a></span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">2022.06.07</div>
        </div>
  </div>
</footer>
